<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="w3-container">
  <table  class="table table-hover table-sm" datatable   >  
      <thead class="thead-light">  
          <tr>  
              <th>Id</th>  
              <th>Name</th>  
              <th>Location</th>                      
          </tr>  
      </thead>  
       <tbody>  
                <tr *ngFor="let employee of employees ">  
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.location}}</td>
                    <td><button onclick="document.getElementById('modal')" class="w3-button w3-red" (click)="delete(employee.id)">Delete</button>
                      <button onclick="document.getElementById('modal').style.display='block'" class="w3-button w3-green" (click)="updateEmployee(employee.id)">Update</button>
                    </td>
                </tr>                
       </tbody><br>
  </table>  
</div>   
  <div id="modal" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
                <form [formGroup]="employeeupdateform" (ngSubmit)="updateEmploy()">  
                    <div class="w3-modal-header">  
                      <h4 class="w3-modal-title" style="text-align: center">Update Employee</h4>  
                    </div>  
                    <div class="w3-modal-body"> 
                      <tr var employee=JSON.parse(employee1)>   
                                  <div class="form-group">  
                                  <label for="name">Id</label>   
                                  <input type="text" class="input"  formControlName="id" required [(ngModel)]="employee.id"  > 
                                  </div>
                                  <div class="form-group">  
                                  <label for="name">Name</label>  
                                  <input type="text" class="input"  formControlName="name" required [(ngModel)]="employee.name"  >  
                                  </div>  
                                  <div class="form-group">  
                                  <label for="name">Location</label>  
                                  <input type="text" class="input" formControlName="location" required [(ngModel)]="employee.location">  
                                  </div>         
                      </tr>
                    </div>         
                 </form>  
                 <div class="w3-modal-footer" >  
                  <button type="submit" class="w3-button w3-green w3-display-middlemiddle">Update</button>
                  <button type="button" onclick="document.getElementById('modal').style.display='none'" class="w3-button w3-red w3-display-bottomright">Close</button>
                </div>  
            </div>  
          </div>  
        </div>  



